.sharing-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .resp-sharing-button__icon,
  .resp-sharing-button__link {
    display: inline-block;
  }

  .resp-sharing-button__link {
    text-decoration: none;
    margin: 0.5em;
  }

  .resp-sharing-button {
    border-radius: 20px;
    transition: 100ms ease-in-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    [data-theme="dark"] &:hover {
      background: #4C566A;
    }

    [data-theme="light"] &:hover {
      background: #EBCB8B;
    }



  }

  .resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top;
  }

  .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle;
  }




}
